@tailwind base;
@tailwind components;
@tailwind utilities;

    @font-face {
        font-family: 'Americana';
        font-style: normal;
        font-weight: 400; /* Regular */
        font-display: swap;
        src: url('../assets/AmericanaStd.otf') format('truetype');
    } 
    @font-face {
        font-family: 'Americana';
        font-style: normal;
        font-weight: 700; /* Bold */
        font-display: swap;
        src: url('../assets/AmericanaStd-Bold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Americana';
        font-style: normal;
        font-weight: 800; /* Heavy */
        font-display: swap;
        src: url('../assets/AmericanaStd-ExtraBold.otf') format('opentype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 100; /* Hairline */
        font-display: swap;
        src: url('../assets/Lato-Hairline.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 200; /* Thin */
        font-display: swap;
        src: url('../assets/Lato-Thin.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300; /* Light */
        font-display: swap;
        src: url('../assets/Lato-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400; /* Regular */
        font-display: swap;
        src: url('../assets/Lato-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500; /* Medium */
        font-display: swap;
        src: url('../assets/Lato-Medium.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600; /* Semibold */
        font-display: swap;
        src: url('../assets/Lato-Semibold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700; /* Bold */
        font-display: swap;
        src: url('../assets/Lato-Bold.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800; /* Heavy */
        font-display: swap;
        src: url('../assets/Lato-Heavy.ttf') format('truetype');
    }