<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Saint Jo</title>

    <!-- Styles -->
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body>

    {% sections 'navbar-group' %}
    <main>
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}

  </body>
</html>
