<section class="relative h-[75svh] w-full">
    <img class="absolute h-full w-full object-cover" alt="hero-image" src={{ section.settings.about_image | image_url }} />
</section>

{% schema %}
{
    "name": "About Image",
    "enabled_on": {
        "templates": ["*"]
    },
    "settings": [
        {
            "type": "image_picker",
            "id": "about-image",
            "label": "About Image"
        }
    ],
    "presets": []
}
{% endschema %}