<div class="flex items-center justify-center h-12 bg-[#5B5546]">
    <h3 class="font-lato text-sm font-medium tracking-wider cursor-pointer uppercase text-white">Enjoy complimentary standard delivery and samples with all orders. +</h3>
</div>