<script defer>
</script>

<section class="flex flex-col text-center my-12">
    <a class="text-md font-lato tracking-wide font-medium uppercase">follow us @saintjothebrand</a>
    <div class="flex items-center justify-center mt-12 w-full h-full" id="instagram-feed">
        <img class="object-cover h-[350px] w-[350px]" src="{{ "set-placeholder.png" | asset_url }}" alt="instagram feed"/>
    </div>
</section>