<section class="flex items-center justify-center h-24 bg-[#E1DED1]">
    <p class="font-lato text-md tracking-wider font-semibold text-[#5B5546] uppercase">clean and sustainable. inner beauty and outer beauty. all without compromise.</p>
</section>

{% schema %}
    {
        "name": "Flag",
        "enabled_on": {
            "templates": ["*"]
        },
        "settings": [],
        "presets": []
    }
{% endschema %}