<section class="flex h-[650px] divide-x-2 divide-[#F9F6F2]">

  <article class="flex p-8 flex-col justify-between w-[517px] h-full bg-[url('../assets/placeholder.png')] bg-no-repeat bg-center bg-cover">
    <h3 class="font-americana text-white uppercase text-3xl">bestsellers</h3>
    <div class="flex flex-col gap-16 border-t-[1px] border-solid border-[#F9F6F2]">
      <p class="font-lato text-white text-sm mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <button class="w-full flex items-center justify-center text-white font-lato uppercase py-2 border-solid border-[#F9F6F2] border-[1px] rounded-full transition-all cursor-pointer hover:bg-[#F9F6F2] hover:text-black">shop now</button>
    </div>
  </article>

  <article class="flex p-8 flex-col justify-between w-[517px] h-full bg-[url('../assets/placeholder.png')] bg-no-repeat bg-center bg-cover">
    <h3 class="font-americana text-white uppercase text-3xl">skincare</h3>
    <div class="flex flex-col gap-16 border-t-[1px] border-solid border-[#F9F6F2]">
      <p class="font-lato text-white text-sm mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <button class="w-full flex items-center justify-center text-white font-lato uppercase py-2 border-solid border-[#F9F6F2] border-[1px] rounded-full transition-all cursor-pointer hover:bg-[#F9F6F2] hover:text-black">shop now</button>
    </div>
  </article>

  <article class="flex p-8 flex-col justify-between w-[517px] h-full bg-[url('../assets/placeholder.png')] bg-no-repeat bg-center bg-cover">
    <h3 class="font-americana text-white uppercase text-3xl">supplements</h3>
    <div class="flex flex-col gap-16 border-t-[1px] border-solid border-[#F9F6F2]">
      <p class="font-lato text-white text-sm mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <button class="w-full flex items-center justify-center text-white font-lato uppercase py-2 border-solid border-[#F9F6F2] border-[1px] rounded-full transition-all cursor-pointer hover:bg-[#F9F6F2] hover:text-black">shop now</button>
    </div>
  </article>

  <article class="flex p-8 flex-col justify-between w-[517px] h-full bg-[url('../assets/placeholder.png')] bg-no-repeat bg-center bg-cover">
    <h3 class="font-americana text-white uppercase text-3xl">activewear</h3>
    <div class="flex flex-col gap-16 border-t-[1px] border-solid border-[#F9F6F2]">
      <p class="font-lato text-white text-sm mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <button class="w-full flex items-center justify-center text-white font-lato uppercase py-2 border-solid border-[#F9F6F2] border-[1px] rounded-full transition-all cursor-pointer hover:bg-[#F9F6F2] hover:text-black">shop now</button>
    </div>
  </article>

</section>

{% schema %}
{
    "name": "Gallery",
    "enabled_on": {
        "templates": ["*"]
    },
    "settings": [],
    "presets": []
}
{% endschema %}