<section class="flex items-end h-svh w-full bg-[url('../assets/hero-bg-placeholder.png')] bg-no-repeat bg-center bg-cover">
    <div class="flex w-full items-center justify-center mb-32">
        <h1 class="text-4xl uppercase font-bold text-white font-americana cursor-pointer hover:underline transition-all">Shop Skincare</h1>
    </div>
</section>

{% schema %}
{
    "name": "Hero",
    "enabled_on": {
        "templates": ["*"]
    },
    "settings": [],
    "presets": []
}
{% endschema %}