<section class="flex flex-col items-center justify-center p-16 bg-[#F9F6F2] h-96">
    <div class="flex flex-col gap-8">
        <p class="text-3xl font-lato tracking-wide text-[#5B5546]">Saint Jō was born out of the lack in the skincare industry. Lack of efficacious skincare that doesn’t sacrifice human wellbeing for luxurious experience. Saint Jō is a nod to everyone looking for effective skincare that keeps their wellbeing at the forefront. Because you deserve a beauty routine without compromise.</p>
        <button class="relative flex items-center w-fit gap-4 font-lato text-sm uppercase tracking-wider cursor-pointer">
        shop our collection
        <span>
            <img src="../assets/arrow.svg"/>
        </span>
        </button>
    </div>
</section>

{% schema %}
    {
        "name": "Quote Block",
        "enabled_on": {
            "templates": ["*"]
        },
        "settings": [],
        "presets": []
    }
{% endschema %}