<section class="flex flex-col p-16 bg-[#F9F6F2] w-full">
    <h4 class="font-lato text-md uppercase tracking-wide font-semibold text-[#5B5546]">save with sets</h4>

    <section class="flex gap-16 mt-12">

    <!-- CARD -->
    <div class="flex items-center justify-between gap-16">
        <article class="w-full h-full">
            <div class="flex h-[587px] p-8 rounded-lg flex-col justify-between bg-[url('../assets/set-placeholder.png')] bg-no-repeat bg-center bg-cover">
                <div class="flex items-center justify-between">
                    <div class="flex flex-col">
                        <h4 class="font-americana text-3xl uppercase text-black">starter set</h4>
                        <p class="font-lato text-xs uppercase text-black font-semibold tracking-wider">essentials</p>
                    </div>
                    <div>
                        <p class="font-americana text-3xl text-black">$120.00</p>
                    </div>
                </div>
                <div class="border-t-[1px] border-black border-solid">
                    <div class="w-2/3">
                        <p class="font-lato text-md mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="px-4 pt-8">
                <button class="flex items-center justify-center text-center border-black border-[1px] rounded-full py-2 w-full uppercase font-lato text-sm transition-all hover:bg-black hover:text-white">shop now</button>
            </div>
        </article>
    </div>

    <!-- CARD -->
    <div class="flex items-center justify-between gap-16">
        <article class="w-full h-full">
            <div class="flex h-[587px] p-8 rounded-lg flex-col justify-between bg-[url('../assets/set-placeholder.png')] bg-no-repeat bg-center bg-cover">
                <div class="flex items-center justify-between">
                    <div class="flex flex-col">
                        <h4 class="font-americana text-3xl uppercase text-black">starter set</h4>
                        <p class="font-lato text-xs uppercase text-black font-semibold tracking-wider">essentials</p>
                    </div>
                    <div>
                        <p class="font-americana text-3xl text-black">$120.00</p>
                    </div>
                </div>
                <div class="border-t-[1px] border-black border-solid">
                    <div class="w-2/3">
                        <p class="font-lato text-md mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="px-4 pt-8">
                <button class="flex items-center justify-center text-center border-black border-[1px] rounded-full py-2 w-full uppercase font-lato text-sm transition-all hover:bg-black hover:text-white">shop now</button>
            </div>
        </article>
    </div>

    <!-- CARD -->
    <div class="flex items-center justify-between gap-16">
        <article class="w-full h-full">
            <div class="flex h-[587px] p-8 rounded-lg flex-col justify-between bg-[url('../assets/set-placeholder.png')] bg-no-repeat bg-center bg-cover">
                <div class="flex items-center justify-between">
                    <div class="flex flex-col">
                        <h4 class="font-americana text-3xl uppercase text-black">starter set</h4>
                        <p class="font-lato text-xs uppercase text-black font-semibold tracking-wider">essentials</p>
                    </div>
                    <div>
                        <p class="font-americana text-3xl text-black">$120.00</p>
                    </div>
                </div>
                <div class="border-t-[1px] border-black border-solid">
                    <div class="w-2/3">
                        <p class="font-lato text-md mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="px-4 pt-8">
                <button class="flex items-center justify-center text-center border-black border-[1px] rounded-full py-2 w-full uppercase font-lato text-sm transition-all hover:bg-black hover:text-white">shop now</button>
            </div>
        </article>
    </div>
    </section>

</section>

{% schema %}
    {
        "name": "Sets",
        "enabled_on": {
            "templates": ["*"]
        },
        "settings": [],
        "presets": []
    }
{% endschema %}