<section class="bg-[#F9F6F2] w-full h-[1000px] p-16">
    <article class="flex items-center justify-center w-full h-full bg-[url('../assets/hero-bg-placeholder.png')] rounded-xl">
        <div class="flex flex-col gap-8 items-center justify-center w-2/5 text-center">
            <h3 class="text-3xl font-americana text-white uppercase">who said we cant have it all brand video section or hero image section</h3>
            <button class="py-2 px-4 w-full max-w-[165px] font-lato text-sm uppercase border-[1px] border-solid border-[#F9F6F2] rounded-full text-white cursor-pointer transition-all hover:bg-[#F9F6F2] hover:text-black">learn more</button>
        </div>
    </article>
</section>

{% schema %}
    {
        "name": "Showcase",
        "enabled_on": {
            "templates": ["*"]
        },
        "settings": [],
        "presets": []
    }
{% endschema %}